.suggestionsContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 6px 8px var(--secondary-color);
}

.btn-default:hover {
    background-color: var(--font-color) !important;
}